<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Select Autocomplete </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <app-select-searchable
          [inputConfig]="inputClientsConfig"
        ></app-select-searchable>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <app-select-searchable
          [inputConfig]="inputPaymentsConfig"
        ></app-select-searchable>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
